.blogHeader{
	background-image: $bgImage2;
}

.blogWrapper{
	max-width: 1280px;
	margin-left: 40%;
	width: 50%;
}

.blogMain{
	background-color: $backgroundColorTwo;
	position:relative;
}

.blogTitle{
	position:static;
	display:flex;
	margin:25rem 0;
	text-align:left;
	@include fontStyle(8rem);
}

.imageContainer{
	width: 10rem;
	height:auto;
}

.articleFlex{
	display:flex;
	flex-direction: column;
	box-shadow: -15px 15px $imageShadow;
	position:relative;
	top:-25rem;
	.imageShadow{
		width:100%;
		background-color:none;
	}
	img{
		width:120%;
		box-shadow: -15px 50px $imageShadow;
		margin-bottom: 5rem;
	}
	h2{
		margin-top: 5rem;
		padding-left: 5rem;
	}
	p{
		margin: 0;
		padding-left: 5rem;
		line-height: 3.2rem;
	}
	p:first-of-type{
		margin-bottom: 5rem;
	}
	p:last-of-type{
		margin-bottom: 2rem;
	}
}

aside{
	display: flex;
	flex-direction: column;
	width: 25%;
	top: 15rem;
	left: 10rem;
	position: absolute;
	background-color: $backgroundColorOne;
	img{
		position:relative;
		left: -250px;
		width: 500%;
	}
	h3{
		margin: 2rem;
	}
	p{
		padding:2rem;
	}
	a{
		color: $textColor;
		display: inline;
		font-weight: bold;
		font-style: italic;
	}
	li{
		font-family: $bodyFont;
		font-style: normal;
		font-weight: normal;
		font-size: 2rem;
	}
	li::before{
		content: "\2022";
		color: $buttonsndLogosColor;
		display: inline-block;
		width: 1rem;
		margin-left: -5rem;
	}
}

.commentSection{
	display: flex;
	flex-direction: column;
	h3{
		margin: 2rem 0;
	}
	.imgContainer{
		flex-basis:15%;
		width: 50%;
		margin-right: 2rem;
	}
	.commentText{
		flex-basis:100%;
	}
	p{
		margin: 0;
		padding: 0 0 2rem 2rem;
	}
	.comment{
	display: flex;
	}
}

.commentForm{
	display: flex;
	flex-direction: column;
	.userID{
		display:flex;
	}
	.username,
	.email{
		background-color: $backgroundColorTwo;
		border: none;
		border-bottom: 3px solid $buttonsndLogosColor;
		display: inline-block;
		font-size: 2rem;
		padding: 2rem;
		margin: 2rem 5rem;
	}
	.commentBox{
		font-size: 2rem;
		padding: 2rem;
		margin-bottom: 2rem;
		resize: none;
		background-color: $backgroundColorTwo;
		border: 3px solid $buttonsndLogosColor;
	}
	button{
		background-color: $buttonsndLogosColor;
		border-style: none;
		cursor: pointer;
		margin-bottom: 2rem;
		padding: 2rem;
		@include fontStyle(2rem)
	}
}

*{
	border: 1px solid midnightblue;
}