// header section
header{
	background-image: $bgImage1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 90vh;
	ul{
		display: flex;
		justify-content: flex-end;
		padding: 2.5rem  0;
		margin-bottom: 2rem;
	}
	a:hover{
		border-bottom: 3px solid $buttonsndLogosColor;
	}
	
}

// Captured Title
h1{
	position: absolute;
	text-align: center;
	text-transform:uppercase;
	top: 45%;
	left: 30%;
	z-index: 10;
	@include fontStyle(13.8rem);
}

// About captured section
.about{
	background-color: $backgroundColorTwo;
	position: relative;
		.imageShadow{
		position: absolute;
		bottom: 90%;
		left: 62%;
		width: 60rem;
		height: 60rem;
		img{
			width: 92%;
			height: auto;
			position:absolute;
			bottom: 7%;
			left: 8%;
		}
	}
	.wrapper{
		display:flex;
		flex-direction: column;
		position: relative;
		text-align: center;
	}
	.aboutText{
		padding-bottom: 15rem;
	}
	p{
		width:50%;
		margin:0 auto;
	}
	
}

// Extra info section
.extraInfoWrapper{
	display:grid;
	grid-template-columns:40% 50%;
	grid-template-rows: 40rem 40rem;
	gap: 10rem 25rem;
	width: 90%;
	margin:0 auto;
	.imageShadow1{
		background-color: $imageShadow;
		height: auto;
		position: relative;
		width: 100%;
		img{
			bottom: 10%;
			left: -25%; 
			position: absolute;
			width: 120%;
		}
	}
	.imageShadow2{
		background-color: $imageShadow;
		height: auto;
		position: relative;
		bottom: -15%;
		left: -5%;
		width: 90%;
		img{
			position: absolute;
			bottom: 10%;
			left: 4%; 
			width:105%;
		}
	}
	.post1{
		padding-right: 10rem;
		width: 90%;
	}
	.post2{
		text-align:right;
		padding-left:  15rem;
	}
	a{
		margin: 0;
	}
}

// middle green grid section
.midNav{
	background-color: $backgroundColorTwo;
	.midGrid{
		display:grid;
		grid-template-columns: 50% 50%;
		grid-template-rows:40rem 40rem ;
		padding-top: 8rem;
		.gridFlex{
			display:flex;
			
		}
		.iconContainer{
			margin-right: 2rem;
		}
		i{
			border-radius:50%;
			background-color: $buttonsndLogosColor;
			color: $textColor;
			font-size: 5rem;
			margin-top:7rem;
			padding: 1.5rem;
			width:100%;
			
		}
		h3{
			@include fontStyle(2.5rem);
			padding-top: 10rem;
		}
		
	}
}

// featured blog section
.featureBlog{
	background-color:$backgroundColorTwo;
	.feature{
		align-items: center;
		display:flex;
		margin: 0 auto 5rem;
		.imageShadow{
			position: relative;
			width: 20rem;
			height: 20rem;
			margin: 0 auto;
		}
	}
}

.feature{
	img{
	position: absolute;
	bottom: 15%;
	left: -15%;
	}
	.featureText{
	flex-basis: 60%;
	}
}

.gallery ul{
	display: flex;
	margin: 5rem auto;
}

footer p{
	background-color: $textColor;
	color:$backgroundColorOne;
	margin: 0 auto;
	padding: 1.5rem 0;
	text-align: center;
}