// **************************Tablet size 940px***************************
@media (max-width: 940px){

	h1 {
	top: 30%;
	left: 40%;
	font-size: 8.8rem;
	}

	header {
		background-size: cover;
		background-position: initial;
		height: 55vh;
	}

	.about{
		.imageShadow {
			display: none;
			img{
				display: none;
			}
		}
	}

	.extraInfoWrapper {
		grid-template-columns: 40% 40%;
		gap: 7rem 20rem;
		.post1 {
			padding-right: 0;
			width: 100%;
		}
		.post2 {
			padding-left: 0;
		}	
		.imageShadow1 {
			width: 145%;
		}
		.imageShadow2 {
			height: 50%;
			width: 127%;
			left: -35%;
		}
	}

	
	// blog media queries
	.commentForm .username, 
	.commentForm .email {
	font-size: 1.5rem;
	padding: 2.5rem;
	margin: 2rem 1rem;
	}

	aside{
		li {
			font-size: 1.5rem;
			padding-bottom: 2rem;
		}
		p {
			font-size: 1.5rem;
		}	
		a {
			font-size: 1.5rem;
		}
		
		h3 {
			font-size: 2rem;
		}
	}


}

// ****************************MEDIUM SIZE 800px ***************************
@media (max-width:800px){

	header nav li{
		margin:30px 20px;
	}

	header {
		ul{
			display: block;
			position: absolute;
			width: 150px;
			transform-origin: 0% 0%;
			transform: translate(100%, 0);
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
			right: -120%;
			border: 1px solid #333;
			background: #f0f2f1;
		}
	}
	
	.burgerMenu input:checked ~ ul{
		transform: none;
	}


	.burgerMenu{
		display: inline-block;
		position: relative;
		top: 50px;
		left: 95%;
		
		z-index: 1;
	}


	.burgerMenu input{

		display: block;
		width: 33px;
		height: 30px;
		position: absolute;
		top: -3px;
		left: 0;
		
		cursor: pointer;

		opacity: 0;
		z-index: 2;
	}


	.burgerMenu span{
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;

		background: #1a1919;
		border-radius: 3px;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					opacity 0.55s ease;
	}

	.burgerMenu span:first-child
	{
		transform-origin: 0% 0%;
	}

	.burgerMenu span:nth-last-child(2)
	{
		transform-origin: 0% 100%;
	}

	.burgerMenu input:checked ~ span
	{
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: #232323;
	}
	.burgerMenu input:checked ~ span:nth-last-child(3){
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}
	.burgerMenu input:checked ~ span:nth-last-child(2)
	{
		transform: rotate(-45deg) translate(0, -1px);
	}
	

	.extraInfoWrapper {
		gap: 7rem 17rem;
		.imageShadow1{
			width: 145%;
			height: 80%;
		}
		.imageShadow2{
		left: -52%;
		}
	}

	p {
	font-size: 1.5rem;
	}

	.midNav .midGrid i {
		font-size: 2.5rem;
		margin-top: 8.5rem;
	}

	.gridFlex:nth-child(2) > div:nth-child(2) {
	padding-right: 5rem;
	}


// *****************blog 800 size

	aside img {
	left: -48px;
	width: 200%;
	}

	aside {
	width: 28%;
	left: 6rem;
	}

	@media (max-width: 940px) {
	aside li {
		padding-bottom: 1rem;
		}
	}

}



// *********************************SMALL SIZE 480px*******************************
@media (max-width: 480px) {

	header {
		background-size: cover;
		height: 50vh;
		ul{
			display:none;
		}
	}
	h1 {
		font-size: 5.5rem;
		top: 35%;
		left: 30%;
	}
	.extraInfoWrapper{
		display: flex;
		flex-direction: column;
		.imageShadow2 {
			height: auto;
			width: 100%;
			left: 0;
			background-color: none;
			img{
				position: static;
			}
		}
		.imageShadow1 {
			width: 106%;
			height: auto;
			background-color: none;
			img {
				position: static;
				width: 100%;
			}
		}
	} 
	.midNav .midGrid i {
		margin-top: 3.5rem;
	}
	p {
		padding-left: 2.5rem;
	}
	.about h2 {
		margin-top: 5rem;
	}
	.about p {
		width: 80%;
	}
	.about .aboutText {
	padding-bottom: 5rem;
	}
	h2 {
		font-size: 2.5rem;
		padding-left: 2.5rem;
	}
	.midNav .midGrid {
		display: flex;
		flex-direction: column;
		h3 {
			padding-top: 5rem;
		}
	}

	.gallery ul {
		flex-direction: column;
	}

}