li{
	list-style: none;
	margin: 0 2.5rem;
	a{
		color: $textColor;
		text-decoration: none;
		text-transform: uppercase;
		@include fontStyle(2rem);
	}
}

h2{
	@include fontStyle(4.2rem);
	letter-spacing: 1px;
}

h3{
	@include fontStyle(3.2rem);
	margin: 0;
}

.about h2{
	margin-top: 20rem;
}