$textColor: #2C2C2C;
$backgroundColorOne: #FAFAFA;
$backgroundColorTwo: #EFFDF3;
$buttonsndLogosColor: #4CEEA7;
$bgImage1: url("../assets/header-image.jpg");
$bgImage2: url("../assets/blog-header.jpg");
$bgImage3: url("../assets/contact-header.jpg");
$imageShadow: #FDFA69;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Roboto&display=swap');
$mainFont: 'Playfair Display', serif;
$bodyFont: 'Roboto', sans-serif;

