@import "partials/setup";
@import "partials/variables";
@import "partials/typography";

header{
	background-image: url(../assets/header-image.jpg);
	background-size: cover;
}

img{
	width:100%;
	height:auto;
}