@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Roboto&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

html body {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
}

.wrapper {
  margin: 0 auto;
  max-width: 1300px;
  width: 90%;
}

img {
  height: auto;
  width: 100%;
}

ul {
  margin: 0 auto;
}

p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
}

a {
  font-size: 2rem;
  text-decoration: none;
}

.imageShadow {
  width: 50%;
  height: 100%;
  background-color: #FDFA69;
}

li {
  list-style: none;
  margin: 0 2.5rem;
}

li a {
  color: #2C2C2C;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 25rem;
  z-index: 10;
  font-family: "Playfair Display", serif;
  font-size: 13.8rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 4.2rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.about h2 {
  margin-top: 20rem;
}

header {
  background-image: url("../assets/header-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2.5rem  0;
  margin-bottom: 2rem;
}

header a:hover {
  border-bottom: 3px solid #4CEEA7;
}

.blogHeader {
  background-image: url("../assets/blog-header.jpg");
}

.about {
  background-color: #EFFDF3;
  position: relative;
}

.about .imageShadow {
  position: absolute;
  bottom: 70%;
  left: 54.5%;
  width: 70rem;
  height: 60rem;
}

.about .imageShadow img {
  width: 85.5%;
  height: auto;
  position: absolute;
  bottom: 5%;
  left: 14.5%;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
}

.about p {
  width: 50%;
  margin: 0 auto;
}

.about a {
  display: inline-block;
  height: 2rem;
  margin: 10rem auto;
  padding: 2rem 4rem;
  background-color: #4CEEA7;
}

.extraInfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 250px;
      grid-template-rows: 250px;
}

.extraInfo .imageShadow1 {
  height: auto;
  width: 100%;
  position: relative;
  background-color: #FDFA69;
  margin: 0 20rem 10rem 0;
}

.extraInfo .imageShadow1 img {
  position: absolute;
  bottom: 20%;
  left: -25%;
}

.extraInfo .imageShadow2 {
  height: auto;
  width: 100%;
  position: relative;
  background-color: #FDFA69;
}

.extraInfo .imageShadow2 img {
  position: absolute;
  bottom: 20%;
  left: 25%;
}

.extraInfo .post2 {
  text-align: right;
}

.featureBlog {
  background-color: #EFFDF3;
}

.featureBlog .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  border: 1px solid midnightblue;
}
