@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Roboto&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

html body {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
}

.wrapper {
  margin: 0 auto;
  max-width: 1300px;
  width: 90%;
}

img {
  height: auto;
  width: 100%;
}

ul {
  margin: 0 auto;
}

p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
}

a {
  font-size: 2rem;
  text-decoration: none;
}

.imageShadow {
  width: 50%;
  height: 100%;
  background-color: #FDFA69;
}

.greenButton {
  display: inline-block;
  margin: 5rem auto;
  padding: 10px 30px;
  background-color: #4CEEA7;
  color: #2C2C2C;
}

li {
  list-style: none;
  margin: 0 2.5rem;
}

li a {
  color: #2C2C2C;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 4.2rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.about h2 {
  margin-top: 20rem;
}

header {
  background-image: url("../assets/header-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2.5rem  0;
  margin-bottom: 2rem;
}

header a:hover {
  border-bottom: 3px solid #4CEEA7;
}

h1 {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 45%;
  left: 30%;
  z-index: 10;
  font-family: "Playfair Display", serif;
  font-size: 13.8rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.about {
  background-color: #EFFDF3;
  position: relative;
}

.about .imageShadow {
  position: absolute;
  bottom: 90%;
  left: 62%;
  width: 60rem;
  height: 60rem;
}

.about .imageShadow img {
  width: 92%;
  height: auto;
  position: absolute;
  bottom: 7%;
  left: 8%;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
}

.about .aboutText {
  padding-bottom: 15rem;
}

.about p {
  width: 50%;
  margin: 0 auto;
}

.extraInfoWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 50%;
      grid-template-columns: 40% 50%;
  -ms-grid-rows: 40rem 40rem;
      grid-template-rows: 40rem 40rem;
  gap: 10rem 25rem;
  width: 90%;
  margin: 0 auto;
}

.extraInfoWrapper .imageShadow1 {
  background-color: #FDFA69;
  height: auto;
  position: relative;
  width: 100%;
}

.extraInfoWrapper .imageShadow1 img {
  bottom: 10%;
  left: -25%;
  position: absolute;
  width: 120%;
}

.extraInfoWrapper .imageShadow2 {
  background-color: #FDFA69;
  height: auto;
  position: relative;
  bottom: -15%;
  left: -5%;
  width: 90%;
}

.extraInfoWrapper .imageShadow2 img {
  position: absolute;
  bottom: 10%;
  left: 4%;
  width: 105%;
}

.extraInfoWrapper .post1 {
  padding-right: 10rem;
  width: 90%;
}

.extraInfoWrapper .post2 {
  text-align: right;
  padding-left: 15rem;
}

.extraInfoWrapper a {
  margin: 0;
}

.midNav {
  background-color: #EFFDF3;
}

.midNav .midGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 40rem 40rem;
      grid-template-rows: 40rem 40rem;
  padding-top: 8rem;
}

.midNav .midGrid .gridFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.midNav .midGrid .iconContainer {
  margin-right: 2rem;
}

.midNav .midGrid i {
  border-radius: 50%;
  background-color: #4CEEA7;
  color: #2C2C2C;
  font-size: 5rem;
  margin-top: 7rem;
  padding: 1.5rem;
  width: 100%;
}

.midNav .midGrid h3 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10rem;
}

.featureBlog {
  background-color: #EFFDF3;
}

.featureBlog .feature {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 5rem;
}

.featureBlog .feature .imageShadow {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
}

.feature img {
  position: absolute;
  bottom: 15%;
  left: -15%;
}

.feature .featureText {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem auto;
}

footer p {
  background-color: #2C2C2C;
  color: #FAFAFA;
  margin: 0 auto;
  padding: 1.5rem 0;
  text-align: center;
}

.blogHeader {
  background-image: url("../assets/blog-header.jpg");
}

.blogWrapper {
  max-width: 1280px;
  margin-left: 40%;
  width: 50%;
}

.blogMain {
  background-color: #EFFDF3;
  position: relative;
}

.blogTitle {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25rem 0;
  text-align: left;
  font-family: "Playfair Display", serif;
  font-size: 8rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.imageContainer {
  width: 10rem;
  height: auto;
}

.articleFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: -15px 15px #FDFA69;
          box-shadow: -15px 15px #FDFA69;
  position: relative;
  top: -25rem;
}

.articleFlex .imageShadow {
  width: 100%;
  background-color: none;
}

.articleFlex img {
  width: 120%;
  -webkit-box-shadow: -15px 50px #FDFA69;
          box-shadow: -15px 50px #FDFA69;
  margin-bottom: 5rem;
}

.articleFlex h2 {
  margin-top: 5rem;
  padding-left: 5rem;
}

.articleFlex p {
  margin: 0;
  padding-left: 5rem;
  line-height: 3.2rem;
}

.articleFlex p:first-of-type {
  margin-bottom: 5rem;
}

.articleFlex p:last-of-type {
  margin-bottom: 2rem;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  top: 15rem;
  left: 10rem;
  position: absolute;
  background-color: #FAFAFA;
}

aside img {
  position: relative;
  left: -250px;
  width: 500%;
}

aside h3 {
  margin: 2rem;
}

aside p {
  padding: 2rem;
}

aside a {
  color: #2C2C2C;
  display: inline;
  font-weight: bold;
  font-style: italic;
}

aside li {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
}

aside li::before {
  content: "\2022";
  color: #4CEEA7;
  display: inline-block;
  width: 1rem;
  margin-left: -5rem;
}

.commentSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.commentSection h3 {
  margin: 2rem 0;
}

.commentSection .imgContainer {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  width: 50%;
  margin-right: 2rem;
}

.commentSection .commentText {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.commentSection p {
  margin: 0;
  padding: 0 0 2rem 2rem;
}

.commentSection .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.commentForm .userID {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.commentForm .username,
.commentForm .email {
  background-color: #EFFDF3;
  border: none;
  border-bottom: 3px solid #4CEEA7;
  display: inline-block;
  font-size: 2rem;
  padding: 2rem;
  margin: 2rem 5rem;
}

.commentForm .commentBox {
  font-size: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  resize: none;
  background-color: #EFFDF3;
  border: 3px solid #4CEEA7;
}

.commentForm button {
  background-color: #4CEEA7;
  border-style: none;
  cursor: pointer;
  margin-bottom: 2rem;
  padding: 2rem;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

* {
  border: 1px solid midnightblue;
}

.contactHeader {
  background-image: url("../assets/contact-header.jpg");
  height: 60vh;
}

.contactHeader h1 {
  position: static;
  margin: 0;
  font-size: 8rem;
  line-height: 9.2rem;
}

.contactWrapper {
  max-width: 1280px;
  margin-left: 5%;
  width: 80%;
}

.contactMain {
  background-color: #EFFDF3;
  height: 50vh;
}

.contactMain ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-top: 10rem;
}

.contactMain li {
  margin: 0 1.5rem;
}

.contactMain i {
  font-size: 3rem;
}

.contactInfo {
  width: 25%;
}

.contactInfo h2 {
  font-size: 2rem;
  margin: 2rem 0;
}

.contactInfo p {
  margin: 0;
  line-height: 3.2rem;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.contactForm .formBox {
  margin: 0 auto;
  background-color: #FAFAFA;
  -webkit-box-shadow: -25px 25px #FDFA69;
          box-shadow: -25px 25px #FDFA69;
  height: 60vh;
  width: 50%;
  position: absolute;
  bottom: 10%;
  left: 35%;
}

.contactForm .formBox .username,
.contactForm .formBox .email {
  background-color: #FAFAFA;
  border: none;
  border-bottom: 3px solid #4CEEA7;
  display: inline-block;
  font-size: 2rem;
  padding: 2rem;
  margin: 0 0 2rem 6rem;
}

.contactForm .messageBox {
  background-color: #FAFAFA;
  border: 3px solid #4CEEA7;
  font-size: 2rem;
  margin-left: 6rem;
  padding: 5rem;
  resize: none;
}

.contactForm button {
  background-color: #4CEEA7;
  border-style: none;
  cursor: pointer;
  width: 85%;
  display: inline;
  margin: 2rem 0 2rem 6rem;
  padding: 1.5rem 2rem;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 940px) {
  h1 {
    top: 65%;
    left: 40%;
    font-size: 8.8rem;
  }
  header {
    background-size: auto;
    background-position: initial;
  }
  .about .imageShadow {
    display: none;
  }
  .about .imageShadow img {
    display: none;
  }
  .extraInfoWrapper {
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    gap: 7rem 20rem;
  }
  .extraInfoWrapper .post1 {
    padding-right: 0;
    width: 100%;
  }
  .extraInfoWrapper .post2 {
    padding-left: 0;
  }
  .extraInfoWrapper .imageShadow1 {
    width: 145%;
  }
  .extraInfoWrapper .imageShadow2 {
    height: 50%;
    width: 127%;
    left: -35%;
  }
  .commentForm .username,
  .commentForm .email {
    font-size: 1.5rem;
    padding: 2.5rem;
    margin: 2rem 1rem;
  }
  aside li {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
  aside p {
    font-size: 1.5rem;
  }
  aside a {
    font-size: 1.5rem;
  }
  aside h3 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  h1 {
    top: 71%;
    left: 34%;
  }
  header nav li {
    margin: 0 2rem;
  }
  .extraInfoWrapper {
    gap: 7rem 17rem;
  }
  .extraInfoWrapper .imageShadow1 {
    width: 145%;
    height: 80%;
  }
  .extraInfoWrapper .imageShadow2 {
    left: -52%;
  }
  p {
    font-size: 1.5rem;
  }
  .midNav .midGrid i {
    font-size: 2.5rem;
    margin-top: 8.5rem;
  }
  .gridFlex:nth-child(2) > div:nth-child(2) {
    padding-right: 5rem;
  }
  aside img {
    left: -48px;
    width: 200%;
  }
  aside {
    width: 28%;
    left: 6rem;
  }
}

@media (max-width: 768px) and (max-width: 940px) {
  aside li {
    padding-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  header {
    background-size: cover;
    height: 50vh;
  }
  header ul {
    display: none;
  }
  h1 {
    font-size: 5.5rem;
    top: 35%;
    left: 30%;
  }
  .extraInfoWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .extraInfoWrapper .imageShadow2 {
    height: auto;
    width: 100%;
    left: 0;
    background-color: none;
  }
  .extraInfoWrapper .imageShadow2 img {
    position: static;
  }
  .extraInfoWrapper .imageShadow1 {
    width: 106%;
    height: auto;
    background-color: none;
  }
  .extraInfoWrapper .imageShadow1 img {
    position: static;
    width: 100%;
  }
  .midNav .midGrid i {
    margin-top: 3.5rem;
  }
  p {
    padding-left: 2.5rem;
  }
  .about h2 {
    margin-top: 5rem;
  }
  .about p {
    width: 80%;
  }
  .about .aboutText {
    padding-bottom: 5rem;
  }
  h2 {
    font-size: 2.5rem;
    padding-left: 2.5rem;
  }
  .midNav .midGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .midNav .midGrid h3 {
    padding-top: 5rem;
  }
  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
